# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
.zip
.pdf

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
# *.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

Visualization/test.py
output.wav
output0.wav
output1.wav
output2.wav
output3.wav
predict.csv
output0.csv
output1.csv
output2.csv
output3.csv
temp_folder/